<button (click)="add_background()">Add Background</button>
<button (click)="add_rect()">Add Rect</button>
<button (click)="add_entry()">Add Entry</button>
<button (click)="add_apm()">Add APM</button>

<button (click)="add_text()">Add Text</button>
<button (click)="delete_object()">Delete Object</button>
<button (click)="delete_background()">Delete Background</button>
<button (click)="get_object_names()">Get Names</button>
<button (click)="set_object_image()">Set Object Image</button>
<button (click)="serialize()">Serialize</button>
<button (click)="load()">Load</button>
<button (click)="to_default_view()">Default View</button>
<button (click)="copy()">Copy</button>
<button (click)="paste()">Paste</button>
<button (click)="transform()">Transform</button>
<button (click)="changeImg()">Change Image</button>

<canvas id="canvas" width="1400px" height="800px"></canvas>
